div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm
  background-color: #008e6d !important
  border-color: #008e6d !important

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm:focus
  box-shadow: 0 0 0 4px rgba(0, 142, 109, 0.25) !important

.v-card
  @apply my-3

button.v-btn
  @apply rounded-full px-6 shadow-none
  &:hover, &:focus, &:active
    @apply shadow-none


@font-face
  font-family: 'Abril Fatface'
  src: url('/fonts/abril_fatface.ttf') format('truetype')

@font-face
  font-family: 'Inter'
  src: url('/fonts/inter.ttf') format('truetype')

body
  font-family: 'Inter', Sans-serif

h1
  font-family: 'Abril Fatface', 'Times new roman'
  font-weight: 400

.v-tabs .v-btn
  //@apply text-lg
  text-transform: none

.v-app-bar .v-input__details
  @apply hidden
